<div class="footer-body">
   <div class="logo-section">
      <p>CTax</p>
   </div>

   <div class="main-links">
      <div class="each-section">
         <p class="heading">Root Admin</p>

         <div class="sub-items">
            <!-- Links heading -->
            <!-- <p class="sub-head">First Heading</p> -->
            <div class="links">
               <!-- Add new links here -->
               <p class="each-link">Link 1</p>
               <p class="each-link">Link 2</p>
               <p class="each-link">Link 3</p>
            </div>
         </div>
      </div>

      <div class="each-section">
         <p class="heading">Operations Manager</p>

         <div class="sub-items">
            <!-- Links heading -->
            <!-- <p class="sub-head">First Heading</p> -->
            <div class="links">
               <!-- Add new links here -->
               <p class="each-link">Link 1</p>
               <p class="each-link">Link 2</p>
               <p class="each-link">Link 3</p>
            </div>
         </div>
      </div>

      <div class="each-section">
         <p class="heading">Zone Manager</p>

         <div class="sub-items">
            <!-- Links heading -->
            <!-- <p class="sub-head">First Heading</p> -->
            <div class="links">
               <!-- Add new links here -->
               <p class="each-link">Link 1</p>
               <p class="each-link">Link 2</p>
               <p class="each-link">Link 3</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="powerd">
   <p>Powerd by: CTax ©2024</p>
</div>