<div class="table-container">
   
    <div class="head-wrapper"><h2>Zone Wise Tax Collection List</h2>
     
        <div>
        <label for="date-picker" class="date-label">Select Date</label>
         <input type="date" class="date-picker" />
        </div>
        </div>
    
    <div class="button-container" *ngIf="1 > 3">
        <button class="add-route-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white">
            <rect x="10" y="4" width="4" height="16" fill="white"/>
            <rect x="4" y="10" width="16" height="4" fill="white"/>
          </svg>
          Add New Route</button>
    </div>
   
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Zone Name</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Total POS</th>
                <th>Zone Managed By</th>
                <th>Created date</th>
                <th>Status</th>
               <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ><input type="checkbox" checked class="custom-checkbox"></td>
                <td class="route-name">Zone 1</td>
                <td>5000</td>
                <td>Franc</td>
                <td>10</td>
                <td>John Doe</td>
                <td>2024-01-15</td>
                <td><span class="status active">  
                    <img src="../../../assets/images/active.svg" alt="" style="vertical-align: middle; margin-right: 5px;">
                Active</span></td>
                <td><img src="../../../assets/images/arrow.svg" alt=""></td>
                
            </tr>
            <tr>
                <td ><input type="checkbox" class="custom-checkbox"></td>
                <td class="route-name">Zone 2</td>
                <td>80000</td>
                <td>Franc</td>
                <td>15</td>
                <td>Jane Smith</td>
                <td>2024-02-10</td>
                <td><span class="status active">  
                    <img src="../../../assets/images/active.svg" alt="" style="vertical-align: middle; margin-right: 5px;">
                Active</span></td>
                <td><img src="../../../assets/images/arrow.svg" alt=""></td>
            </tr>
         
            <tr class="selection">
                <td ><input type="checkbox"  class="custom-checkbox"></td>
                <td class="route-name">Zone 3</td>
                <td>12000</td>
                <td>Franc</td>
                <td>13</td>
                <td>Alex Johnson</td>
                <td>2023-11-05</td>
                <td><span class="status active"> <img src="../../../assets/images/active.svg" alt="" style="vertical-align: middle; margin-right: 5px;">
                    Active</span></td>
                <td><img src="../../../assets/images/arrow.svg" alt=""></td>
            </tr>
          
            <tr>
                <td ><input type="checkbox" class="custom-checkbox"></td>
                <td class="route-name">Zone 4</td>
                <td>3000</td>
                <td>Franc</td>
                <td>3</td>
                <td>Emily Davis</td>
                <td>2023-10-20</td>
                <td><span class="status active">  
                    <img src="../../../assets/images/active.svg" alt="" style="vertical-align: middle; margin-right: 5px;">
                Active</span></td>
                <td><img src="../../../assets/images/arrow.svg" alt=""></td>
            </tr>
          
            <tr>
                <td><input type="checkbox" class="custom-checkbox"></td>
                <td class="route-name">Zone 5</td>
                <td>15000</td>
                <td>Franc</td>
                <td>6</td>
                <td>Michael Brown</td>
                <td>2024-01-01</td>
                <td><span class="status active">  
                    <img src="../../../assets/images/active.svg" alt="" style="vertical-align: middle; margin-right: 5px;">
                Active</span></td>
                <td><img src="../../../assets/images/arrow.svg" alt=""></td>
            </tr>
           
            <tr>
                <td><input type="checkbox" class="custom-checkbox"></td>
                <td class="route-name">Zone 6</td>
                <td>800</td>
                <td>Franc</td>
                <td>9</td>
                <td>Chris Lee</td>
                <td>2024-02-05</td>
                <td><span class="status active">  
                    <img src="../../../assets/images/active.svg" alt="" style="vertical-align: middle; margin-right: 5px;">
                Active</span></td>
                <td><img src="../../../assets/images/arrow.svg" alt=""></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="custom-checkbox"></td>
                <td class="route-name">Zone 7</td>
                <td>8700</td>
                <td>Franc</td>
                <td>7</td>
                <td>Chris Lee</td>
                <td>2024-02-05</td>
                <td><span class="status active">  
                    <img src="../../../assets/images/active.svg" alt="" style="vertical-align: middle; margin-right: 5px;">
                Active</span></td>
                <td><img src="../../../assets/images/arrow.svg" alt=""></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="custom-checkbox"></td>
                <td class="route-name">Zone 8</td>
                <td>3800</td>
                <td>Franc</td>
                <td>4</td>
                <td>Chris Lee</td>
                <td>2024-02-05</td>
                <td><span class="status active">  
                    <img src="../../../assets/images/active.svg" alt="" style="vertical-align: middle; margin-right: 5px;">
                Active</span></td>
                <td><img src="../../../assets/images/arrow.svg" alt=""></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="custom-checkbox"></td>
                <td class="route-name">Zone 9</td>
                <td>8800</td>
                <td>Franc</td>
                <td>3</td>
                <td>Chris Lee</td>
                <td>2024-02-05</td>
                <td><span class="status active">  
                    <img src="../../../assets/images/active.svg" alt="" style="vertical-align: middle; margin-right: 5px;">
                Active</span></td>
                <td><img src="../../../assets/images/arrow.svg" alt=""></td>
            </tr>
        </tbody>
    </table>
</div>