<div class="tree">
    <ul>
      <li *ngFor="let node of data">
        <div class="tree-node">
          <img src="../../../assets/common/user.svg" alt="Image">
          <span style="font-weight: bold; color: rgb(15, 119, 24);">{{ node.name }}</span>
          <!-- <span class="badge">3</span> -->
          <div>{{node.role}} </div><!-- Badge for count -->
        </div>
      
        <ul *ngIf="hasChildren(node)">
          <app-tree [data]="node.children"></app-tree>
        </ul>
      </li>
    </ul>
  </div>
  
  