#zoom-container {

  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
  position: relative;

  #zoomable-content {
    position: absolute;
    width: 200%;
    height: 200%;
    display: flex;
    flex-wrap: wrap;

  
  }
}
