<div class="dialog-container">
  <div class="dialog-header">
    <div class="title">Create Zone</div>
    <svg
      (click)="dialogRef.close()"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 25 25"
      fill="none"
    >
      <path
        d="M23.7148 0.614221C23.1942 0.0935996 22.3501 0.0935996 21.8295 0.614221L12.1052 10.3385L2.381 0.614221C1.86039 0.0935996 1.0163 0.0935996 0.495691 0.614221C-0.0249308 1.13483 -0.0249308 1.97892 0.495691 2.49952L10.2199 12.2238L0.495718 21.9479C-0.0249041 22.4686 -0.0249041 23.3126 0.495718 23.8333C1.01633 24.3539 1.86042 24.3539 2.38102 23.8333L12.1052 14.1091L21.8295 23.8333C22.3501 24.3539 23.1942 24.3539 23.7148 23.8333C24.2354 23.3126 24.2354 22.4686 23.7148 21.948L13.9905 12.2238L23.7148 2.49952C24.2354 1.97892 24.2354 1.13483 23.7148 0.614221Z"
        fill="#101010"
        fill-opacity="0.5"
      />
    </svg>
  </div>
  <div class="dialog-content">
    <form
      class="form-container"
      [formGroup]="zonesForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-grid">
        <!-- Left Panel -->
        <div class="left-panel">
          <div class="form-field-container">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Zone Name</mat-label>
              <input matInput formControlName="zoneName" />
            </mat-form-field>
            <mat-error *ngIf="zonesForm.get('zoneName')?.hasError('required')"
              >Zone name is required</mat-error
            >
          </div>

          <div class="form-field-container">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Zone Manager</mat-label>
              <mat-select formControlName="zoneManager">
                <mat-option value="Manager 1">Manager 1</mat-option>
                <mat-option value="Manager 2">Manager 2</mat-option>
                <mat-option value="Manager 3">Manager 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error
              *ngIf="zonesForm.get('zoneManager')?.hasError('required')"
              >Zone manager is required</mat-error
            >
          </div>
        </div>
        <!-- Form Fields -->

        <!-- Right Panel -->
        <div class="right-panel">
          <div class="form-field-container">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Region</mat-label>
              <mat-select formControlName="region">
                <mat-option value="Region 1">Region 1</mat-option>
                <mat-option value="Region 2">Region 2</mat-option>
                <mat-option value="Region 3">Region 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="zonesForm.get('region')?.hasError('required')"
              >Region is required</mat-error
            >
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="button-container">
        <app-button
          class="create-button"
          buttonLabel="Create Zone"
        ></app-button>
      </div>
    </form>
  </div>
</div>
